@if (this.exercise()) {
    <div class="exercise-container">
        <div class="exercise-video">
            @if(this.exercise().url) {
                <img class="image" alt="image" [src]="this.exercise().url">
            }
        </div>
        <div class="exercise-data">
            @if(!this.next()) {
                <h1>{{this.exercise().title}}</h1>
            } @else {
                <h1 class="c_accent">Next > {{ this.setUpService.isNextTimeOut ? 'Time-out' : this.next().title }}</h1>
            }
        </div>
    </div>
}
